/*  View example button styles here: http://hellohappy.org/css3-buttons/ 
    Then view their code here:  https://github.com/ubuwaits/css3-buttons
    Pick two that you like, and copy the css code from repo to style the two buttons on index.html. */

* {
    margin: 0px;
    padding: 5px;
}

button {
        margin: 7px;
        padding: 10px;
        min-width: 150px;
        color: white;
        text-shadow: 2px 2px 2px hsla(242, 100%, 50%, 1);
}

button.punch {
}

button.skip {
}

p {
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 2px hsla(242, 100%, 50%, 1);
    line-height: 120%;
}

.fa-envelope-square {
                      color: white;
                      text-shadow: 2px 2px 2px hsla(242, 100%, 50%, 1);
}

footer {
  clear: both;
}